@{
    ViewBag.Title = "About";
    if (Session["ID"] != null)
    {
        if (Convert.ToInt32(Session["Role"]) == 2)
        {
            Response.Redirect("~/Admin/AddUser");
        }
    }
    else
    {
        Response.Redirect("~/User/LoginPage");
    }
}
<style>
    .kang {
        width: 310px;
        height: 310px;
        margin: 0 auto;
        margin-top: 100px;
    }
    .avt {
        width: 300px;
        height:300px;
        border-radius: 150px 150px 150px 150px;
    }
</style>

<div class="kang">
    <img class="avt" src="~/Library/images/meow.jpg" />
    |
    <p style="font-size: 18px; font-weight: bold; color: #FAD766">A gift from Kang to WES with l0v3 :"></p>
</div>