@{
    ViewBag.Title = "About";
}
<style>
    .kang {
        width: 350px;
        margin: 0 auto;
        margin-top: 150px
    }

        .kang p {
            font-family: 'Helvetica Neue';
            font-weight: bolder;
            color: #fffa1b;
            font-size: 20px;
            width: 500px;
            margin-left: -30px;
        }

    .avt {
        width: 80%;
        /*margin: 0 auto;*/
        border-radius: 150px 150px 150px 150px;
    }
</style>

<div class="kang">
    <img class="avt" src="~/Library/images/meow.jpg" />
    <p>A gift from Kang to WES with l0v3 :"></p>
</div>