/* WE ESCAPE CUSTOMER INFORMATION SYSTEM */
body {
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.fancybackground {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.enjoy-css {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 64px;
    position: relative;
    cursor: pointer;
    top: 0;
    left: 0;
    padding: 10px 20px;
    border: 0 none rgb(177,106,2);
    border-bottom: 4px solid rgb(177,106,2);
    -webkit-border-radius: 7px 7px 9px 9px;
    border-radius: 7px 7px 9px 9px;
    font: normal normal bold 24px/40px "Averia Sans Libre", Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: nowrap;
    background: -webkit-linear-gradient(-90deg, rgb(253,218,134) 0, rgb(225,157,60) 100%), rgb(253, 218, 134);
    background: -moz-linear-gradient(180deg, rgb(253,218,134) 0, rgb(225,157,60) 100%), rgb(253, 218, 134);
    background: linear-gradient(180deg, rgb(253,218,134) 0, rgb(225,157,60) 100%), rgb(253, 218, 134);
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-box-shadow: 0 -1px 1px 0 rgba(255,255,255,0.701961) inset, 0 1px 1px 0 rgb(177,106,2);
    box-shadow: 0 -1px 1px 0 rgba(255,255,255,0.701961) inset, 0 1px 1px 0 rgb(177,106,2);
    text-shadow: 0 1px 1px rgba(0,0,0,0.498039);
}

    .enjoy-css:hover {
        background: rgb(225, 157, 60);
        -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
        -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
        -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
        transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    }

    .enjoy-css:active {
        height: 60px;
        margin: 4px 0 0;
        border: none;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        background: -webkit-linear-gradient(-90deg, rgb(253,218,134) 0, rgb(225,157,60) 100%), rgb(253, 218, 134);
        background: -moz-linear-gradient(180deg, rgb(253,218,134) 0, rgb(225,157,60) 100%), rgb(253, 218, 134);
        background: linear-gradient(180deg, rgb(253,218,134) 0, rgb(225,157,60) 100%), rgb(253, 218, 134);
        -webkit-background-origin: padding-box;
        background-origin: padding-box;
        -webkit-background-clip: border-box;
        background-clip: border-box;
        -webkit-background-size: auto auto;
        background-size: auto auto;
        -webkit-transition: all 30ms cubic-bezier(0.42, 0, 0.58, 1);
        -moz-transition: all 30ms cubic-bezier(0.42, 0, 0.58, 1);
        -o-transition: all 30ms cubic-bezier(0.42, 0, 0.58, 1);
        transition: all 30ms cubic-bezier(0.42, 0, 0.58, 1);
    }

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    #cssmenu:after,
    #cssmenu > ul:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    #cssmenu #menu-button {
        display: none;
    }

#cssmenu {
    font-family: Montserrat, sans-serif;
    background: #333333;
}

    #cssmenu > ul > li {
        float: left;
    }

    #cssmenu.align-center > ul {
        font-size: 0;
        text-align: center;
    }

        #cssmenu.align-center > ul > li {
            display: inline-block;
            float: none;
        }

    #cssmenu.align-center ul ul {
        text-align: left;
    }

    #cssmenu.align-right > ul > li {
        float: right;
    }

    #cssmenu > ul > li > a {
        padding: 17px;
        font-size: 12px;
        letter-spacing: 1px;
        text-decoration: none;
        color: #FAD766;
        font-weight: 700;
        text-transform: uppercase;
    }

    #cssmenu > ul > li:hover > a {
        color: #ffffff;
    }

    #cssmenu > ul > li.has-sub > a {
        padding-right: 30px;
    }

        #cssmenu > ul > li.has-sub > a:after {
            position: absolute;
            top: 22px;
            right: 11px;
            width: 8px;
            height: 2px;
            display: block;
            background: #dddddd;
            content: '';
        }

        #cssmenu > ul > li.has-sub > a:before {
            position: absolute;
            top: 19px;
            right: 14px;
            display: block;
            width: 2px;
            height: 8px;
            background: #dddddd;
            content: '';
            -webkit-transition: all .25s ease;
            -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
            -o-transition: all .25s ease;
            transition: all .25s ease;
        }

    #cssmenu > ul > li.has-sub:hover > a:before {
        top: 23px;
        height: 0;
    }

    #cssmenu ul ul {
        position: absolute;
        left: -9999px;
    }

    #cssmenu.align-right ul ul {
        text-align: right;
    }

    #cssmenu ul ul li {
        height: 0;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
    }

    #cssmenu li:hover > ul {
        left: auto;
    }

    #cssmenu.align-right li:hover > ul {
        left: auto;
        right: 0;
    }

    #cssmenu li:hover > ul > li {
        height: 35px;
    }

    #cssmenu ul ul ul {
        margin-left: 100%;
        top: 0;
    }

    #cssmenu.align-right ul ul ul {
        margin-left: 0;
        margin-right: 100%;
    }

    #cssmenu ul ul li a {
        border-bottom: 1px solid rgba(150, 150, 150, 0.15);
        padding: 11px 15px;
        width: 170px;
        font-size: 12px;
        text-decoration: none;
        color: #dddddd;
        font-weight: 400;
        background: #333333;
    }

    #cssmenu ul ul li:last-child > a,
    #cssmenu ul ul li.last-item > a {
        border-bottom: 0;
    }

    #cssmenu ul ul li:hover > a,
    #cssmenu ul ul li a:hover {
        color: #ffffff;
    }

    #cssmenu ul ul li.has-sub > a:after {
        position: absolute;
        top: 16px;
        right: 11px;
        width: 8px;
        height: 2px;
        display: block;
        background: #dddddd;
        content: '';
    }

    #cssmenu.align-right ul ul li.has-sub > a:after {
        right: auto;
        left: 11px;
    }

    #cssmenu ul ul li.has-sub > a:before {
        position: absolute;
        top: 13px;
        right: 14px;
        display: block;
        width: 2px;
        height: 8px;
        background: #dddddd;
        content: '';
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
    }

    #cssmenu.align-right ul ul li.has-sub > a:before {
        right: auto;
        left: 14px;
    }

    #cssmenu ul ul > li.has-sub:hover > a:before {
        top: 17px;
        height: 0;
    }
    .KangAlert {
        display: none;
    }
@media (max-width: 730px) {
    .KangAlert {
        width: 300px;
        margin: 0 auto;
        margin-top: 180px;
        display: block;
        position: absolute;
    }
        .KangAlert p {
            text-shadow: -1px 0 #FAD766, 0 1px #FAD766, 1px 0 #FAD766, 0 -1px #FAD766;
            color: black;
            font-size: 16px;
            font-weight: bold;
            user-select: none;
        }
    .CustomerList0 {
        display: none;
    }

}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    .fancybackground {
        background-image: url('../images/background.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    #centerDadiv {
        display: inline-block;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    #cssmenu {
        width: 100%;
    }

        #cssmenu ul {
            width: 100%;
            display: none;
        }

        #cssmenu.align-center > ul {
            text-align: center;
        }

        #cssmenu ul li {
            width: 100%;
            border-top: 1px solid rgba(120, 120, 120, 0.2);
        }

        #cssmenu ul ul li,
        #cssmenu li:hover > ul > li {
            height: auto;
        }

            #cssmenu ul li a,
            #cssmenu ul ul li a {
                width: 100%;
                border-bottom: 0;
            }

        #cssmenu > ul > li {
            float: none;
        }

        #cssmenu ul ul li a {
            padding-left: 25px;
        }

        #cssmenu ul ul ul li a {
            padding-left: 35px;
        }

        #cssmenu ul ul li a {
            color: #dddddd;
            background: none;
        }

        #cssmenu ul ul li:hover > a,
        #cssmenu ul ul li.active > a {
            color: #ffffff;
        }

        #cssmenu ul ul,
        #cssmenu ul ul ul,
        #cssmenu.align-right ul ul {
            position: relative;
            left: 0;
            width: 100%;
            margin: 0;
            text-align: left;
        }

            #cssmenu > ul > li.has-sub > a:after,
            #cssmenu > ul > li.has-sub > a:before,
            #cssmenu ul ul > li.has-sub > a:after,
            #cssmenu ul ul > li.has-sub > a:before {
                display: none;
            }

        #cssmenu #menu-button {
            display: block;
            padding: 17px;
            color: #dddddd;
            cursor: pointer;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 700;
        }

            #cssmenu #menu-button:after {
                position: absolute;
                top: 22px;
                right: 17px;
                display: block;
                height: 4px;
                width: 20px;
                border-top: 2px solid #dddddd;
                border-bottom: 2px solid #dddddd;
                content: '';
            }

            #cssmenu #menu-button:before {
                position: absolute;
                top: 16px;
                right: 17px;
                display: block;
                height: 2px;
                width: 20px;
                background: #dddddd;
                content: '';
            }

            #cssmenu #menu-button.menu-opened:after {
                top: 23px;
                border: 0;
                height: 2px;
                width: 15px;
                background: #ffffff;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            #cssmenu #menu-button.menu-opened:before {
                top: 23px;
                background: #ffffff;
                width: 15px;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

        #cssmenu .submenu-button {
            position: absolute;
            z-index: 99;
            right: 0;
            top: 0;
            display: block;
            border-left: 1px solid rgba(120, 120, 120, 0.2);
            height: 46px;
            width: 46px;
            cursor: pointer;
        }

            #cssmenu .submenu-button.submenu-opened {
                background: #262626;
            }

        #cssmenu ul ul .submenu-button {
            height: 34px;
            width: 34px;
        }

        #cssmenu .submenu-button:after {
            position: absolute;
            top: 22px;
            right: 19px;
            width: 8px;
            height: 2px;
            display: block;
            background: #dddddd;
            content: '';
        }

        #cssmenu ul ul .submenu-button:after {
            top: 15px;
            right: 13px;
        }

        #cssmenu .submenu-button.submenu-opened:after {
            background: #ffffff;
        }

        #cssmenu .submenu-button:before {
            position: absolute;
            top: 19px;
            right: 22px;
            display: block;
            width: 2px;
            height: 8px;
            background: #dddddd;
            content: '';
        }

        #cssmenu ul ul .submenu-button:before {
            top: 12px;
            right: 16px;
        }

        #cssmenu .submenu-button.submenu-opened:before {
            display: none;
        }
}

#centerDadiv {
    display: inline-block;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80%;
    margin: auto;
    margin-left: 200px
}


.wefooter {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    /*padding: 1rem;*/
    background-color: #efefef;
    text-align: center;
}

#afooter {
    background-color: #FAD766;
    height: 30px;
    padding: 2px;
    border-top: 1px solid #ABABAB;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.site-footer,
.page-wrap:after {
    /* .push must be the same height as footer */
    height: 40px;
}

.site-footer {
    background: orange;
    text-align: right;
}

h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    background-color: rgba(255,255,255,0.3);
    overflow: auto;
    position: relative;
}
.tbl-content {
    max-height: 650px;
    height: auto;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: bolder;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    word-wrap: break-word;
}

td {
    padding: 15px;
    word-wrap: break-word;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}


/* demo styles */
section {
    margin: 50px;
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
}


/* follow me template */
.made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    color: #fff;
}

    .made-with-love i {
        font-style: normal;
        color: #F50057;
        font-size: 14px;
        position: relative;
        top: 2px;
    }

    .made-with-love a {
        color: #fff;
        text-decoration: none;
    }

        .made-with-love a:hover {
            text-decoration: underline;
        }


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

html {
    font-family: "Helvetica Neue", sans-serif;
    width: 100%;
    color: #666666;
    text-align: center;
}
.popup-overlay {
    /*Hides pop-up when there is no "active" class*/
    visibility: hidden;
    position: absolute;
    background: #ffffff;
    border: 3px solid #666666;
    width: 50%;
    height: 50%;
    left: 25%;
    z-index: 999;
}

    .popup-overlay.active {
        /*displays pop-up when "active" class is present*/
        visibility: visible;
        text-align: center;
    }

.popup-content {
    /*Hides pop-up content when there is no "active" class */
    visibility: hidden;
}

    .popup-content.active {
        /*Shows pop-up content when "active" class is present */
        visibility: visible;
    }



.cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

    .cbx span {
        display: inline-block;
        vertical-align: middle;
        transform: translate3d(0, 0, 0);
    }

        .cbx span:first-child {
            position: relative;
            width: 18px;
            height: 18px;
            border-radius: 3px;
            transform: scale(1);
            vertical-align: middle;
            border: 1px solid #9098A9;
            transition: all 0.2s ease;
        }

            .cbx span:first-child svg {
                position: absolute;
                top: 3px;
                left: 2px;
                fill: none;
                stroke: #FFFFFF;
                stroke-width: 2;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-dasharray: 16px;
                stroke-dashoffset: 16px;
                transition: all 0.3s ease;
                transition-delay: 0.1s;
                transform: translate3d(0, 0, 0);
            }

            .cbx span:first-child:before {
                content: "";
                width: 100%;
                height: 100%;
                background: #506EEC;
                display: block;
                transform: scale(0);
                opacity: 1;
                border-radius: 50%;
            }

        .cbx span:last-child {
            padding-left: 3px;
        }

    .cbx:hover span:first-child {
        border-color: #506EEC;
    }

.inp-cbx:checked + .cbx span:first-child {
    background: #506EEC;
    border-color: #506EEC;
    animation: wave 0.4s ease;
}

    .inp-cbx:checked + .cbx span:first-child svg {
        stroke-dashoffset: 0;
    }

    .inp-cbx:checked + .cbx span:first-child:before {
        transform: scale(3.5);
        opacity: 0;
        transition: all 0.6s ease;
    }

@keyframes wave {
    50% {
        transform: scale(0.9);
    }
}
