<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Customer Information Management System" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/Library/img/system/flavicon.png">
    <link rel="stylesheet" type="text/css" href="~/Library/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Library/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Library/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Library/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Library/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Library/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/Library/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Library/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Library/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Library/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/Library/css/style.css" />
    <title>@ViewBag.Title - CIS</title>
    <script>
        $(document).ready(function () {
            if (jQuery(control).data('autocomplete')) {
                jQuery(control).autocomplete("destroy");
                jQuery(control).removeData('autocomplete');
            }
            $("ul.x li").click(function (e) {
                alert('Chức năng đang phát triển ^,..,^ !');
            });
        });
    </script>
</head>
<body class="fancybackground">
    <div id='cssmenu'>
        <ul class="x" style="display: flex; justify-content: center">
            <li><a href='/Home/Index'>Trang chủ</a></li>
            <li class="btn">
                <a class='active' href='/Home/CustomerList/06'>DSKH Tháng</a>
            </li>
            <li><a href='/Home/About'>About</a></li>
        </ul>
    </div>
    <div class="fancybackground"></div>
    @RenderBody()
    @RenderSection("scripts", required: false)




    <script src="~/Library/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Library/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Library/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Library/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Library/vendor/daterangepicker/moment.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Library/js/main.js"></script>
    <script src="~/Library/js/script.js"></script>
    <link async href="http://fonts.googleapis.com/css?family=Averia%20Sans%20Libre" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css" />

</body>
</html>