<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Customer Information Management System" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/Library/img/system/flavicon.png">
    <link rel="stylesheet" type="text/css" href="~/Library/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Library/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Library/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Library/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Library/vendor/css-hamburgers/hamburgers.min.css"> 
    <link rel="stylesheet" type="text/css" href="~/Library/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Library/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/Library/css/style.css" />
    <title>@ViewBag.Title - CIS</title>
</head>
<body class="fancybackground">
    <div id='cssmenu'>
        <ul class="x" style="display: flex; justify-content: center">
            <li style="text-align:center"><a href='/Home/Index'>Trang chủ</a></li>
            <li class="btn">
                <a class='active' href='/Home/CustomerList/06'>DSKH Tháng</a>
            </li>
            <li style="text-align:center"><a href='/Home/About'>About</a></li>
        </ul>
    </div>
    <div style="width: 100%;height:1px;background-color:white"></div>
    <div class="fancybackground"></div>
    @RenderBody()
    @RenderSection("scripts", required: false)




</body>
</html>